USE [master]
GO
/****** Object:  Database [IAAS]    Script Date: 4/7/18 12:11:27 PM ******/
CREATE DATABASE [IAAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IAAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\IAAS.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IAAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\IAAS_log.LDF' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IAAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IAAS]
GO
/****** Object:  Table [dbo].[Fileprocess]    Script Date: 4/7/18 12:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fileprocess](
	[radio] [varchar](100) NULL,
	[description] [varchar](100) NULL,
	[fileprocess1] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[fileprocess2]    Script Date: 4/7/18 12:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[fileprocess2](
	[update] [varchar](50) NULL,
	[description] [varchar](50) NULL,
	[2token] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[fileprocess3]    Script Date: 4/7/18 12:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[fileprocess3](
	[radio] [varchar](50) NULL,
	[description] [varchar](50) NULL,
	[fileprocess3] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Filestatus]    Script Date: 4/7/18 12:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Filestatus](
	[filename] [varchar](100) NULL,
	[firstblock] [varchar](100) NULL,
	[secondblock] [varchar](100) NULL,
	[tirdblock] [varchar](100) NULL,
	[allow1] [varchar](100) NULL,
	[allow2] [varchar](100) NULL,
	[allow3] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Fileupload]    Script Date: 4/7/18 12:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fileupload](
	[userid] [varchar](50) NULL,
	[subject] [varchar](1000) NULL,
	[choosefile] [varchar](500) NULL,
	[date] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Register]    Script Date: 4/7/18 12:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Register](
	[userid] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[conformpassword] [varchar](50) NULL,
	[contactnumber] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[Email] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[securitykey]    Script Date: 4/7/18 12:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[securitykey](
	[securitykey] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
